﻿.cNoBoxShadow {
    box-shadow: none;
}

.cBackArrow {
    float: left;
    position: relative;
    margin-right: 20px;
}

.cPrimaryBackground {
    width: 100%;
    height: 40vh;
    flex-shrink: 0;
}

main {
    margin-top: -35vh;
    flex-shrink: 0;
}

.mdl-grid {
    max-width: 1600px;
    width: calc(100%-16px);
    margin: 0 auto;
    /*new*/
    animation-name: fadeUp;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    /*old*/
    -webkit-animation-name: fadeUp;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
}

.cMainCell {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.cParagraphMargin {
    margin-left: 10% !important;
}

.cSubheading {
    margin-left: 5% !important;
    font-size: 1.35em;
}

.cProduct {
    font-size:1.72em;
    margin-top: 30px;
}

.cParameterMargin {
    margin-top: 40px;
}

li, span .mdl-list__item-primary-content {
    height: auto !important;
}

/*Content style*/
h2 {
    margin-top: 50px;
    margin-bottom: 40px;
}

h3 {
    margin-top: 48px;
}

p {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 14px;
}

/*Animations*/
@-webkit-keyframes fadeUp {
    from { margin: 100vh auto; }

    to { margin: 0 auto; }
}

@keyframes fadeUp {
    from { margin: 100vh auto; }

    to { margin: 0 auto; }
}