﻿.cNoDisplay {
    display: none;
}

.drawerLine {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.cResponsiveErrorText {
    text-align: center;
    padding-top: 30px;
    font-size: 2vw;
}

/*responsive Font sizes*/

@media (max-width: 576px) {
    .cResponsiveErrorText {
        font-size:7vw;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .cResponsiveErrorText {
        font-size:6vw;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .cResponsiveErrorText {
        font-size:5vw;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .cResponsiveErrorText {
        font-size:4vw;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .cResponsiveErrorText {
        font-size:3vw;
    }
}

@media (min-width: 1600px) {
    .cResponsiveErrorText {
        font-size: 2vw;
    }
}


/*marks*/
mark {
    background-color: rgb(63, 81, 181);
    color: #ffffff;
}

/*TODO look if this is even needed*/
.cChipDiv {
                    

}

.cDrawer {
    border: none !important;
}

.cMainGrid {
    margin-top: 40px;
    margin-bottom: 30px;
    min-height: 75vh;
}

.cMainCellHome {
    border-radius: 2px;
    padding: 0 36px;
    padding-bottom: 40px;
}

.cMainCellCurators {
    border-radius: 2px;
    padding: 0 36px;
    padding-bottom: 40px;
}

.cSearchMargin {
    margin-left: 16px;
}

.cTabsContent {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

ul .mdl-list {
    margin: auto;
    width: 100%;
}

.cDeleteAllChip {
    padding: 0 3px !important;
}

#deleteAll {
    margin: 0 0 0 0 !important;
}


table {
    margin: auto;
    margin-top: 20px;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-align: left !important;
}

.cthName {
    width: 15%;
}
.cthDesc {
    width: 70%;
}

.cthAddRent {
    width: 10%;
}

.cthDueDate {
    width: 15%;
}

.cthCName {
    width: 30%;
}

.cthCEmail {
    width: 40%;
}
