﻿@-webkit-keyframes roll {
    from { -webkit-transform: rotate(0) }

    to   { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes roll {
    from { -moz-transform: rotate(0) }

    to { -moz-transform: rotate(360deg) }
}

@keyframes roll {
    from { transform: rotate(0) }

    to   { transform: rotate(360deg) }
}

.rotate {
    -moz-animation-name: roll;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: roll;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    animation: roll;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

#contact-button {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 60px;
    margin-bottom: 60px;
    z-index: 900;
}

li .mdl-list__item .mdl-list__item--three-line,
li .mdl-list__item .mdl-list__item--two-line,
span .mdl-list__item-primary-content,
span .mdl-list__item-text-body,
span .mdl-list__item-secondary-content {
    height: auto !important;
    line-height: normal !important;
}