﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="API.aspx.cs" Inherits="RNT_WebApp.API.API" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>RNT-API</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            
        </div>
    </form>
</body>
</html>
